.hamburge-menu {
    position: relative;
}

.hamburge-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: hsl(180, 13%, 25%);
    border: solid lightblue 1px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 5000000;
    padding: 5px;
}
.hamburge-menu a{
    color:white;
    line-height: 20pt;
    text-decoration: none;
}
.hamburge-menu:not(.open) ul {
    display: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;

}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin-block:0px;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    background-color: rgb(72, 138, 161);
    font-size: 20px;
  } */


/* @media screen and (min-width: 624px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

@media screen and (max-width: 624px) {
    ul {
        width: 80%
    }
}

li {
    float: left;
} */


/* li a:hover,
.dropdown:hover,


.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: #000000 1px;
}
.butik-headline {
    Border: solid black 1px;
}

} */
a:hover {
    background-color:lightblue;
}


html {
    background-color: #3a5f5f;
    overflow-y: scroll;
    Height: 100%;
}

p {
    color: #FFFAF0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 25pt;
}
.paragraf-storlek{
    font-family: 'Abril Fatface', cursive;
    font-size:30px;
}

@media screen and (max-width: 624px){
    p{
        font-size: 1.2rem;
    }
    h1{
        font-size: 4rem;
    }
}
.picture-size {
    width: 600px;
    height: 540px;
}

.dark_background {
    color: #2F4F4F;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    background-position: center;
    flex-direction: column;

}

.container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    height: auto;
}

.container :not(img) {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    max-width: 100%;
    height: auto;
    /* Height: 800px */
    z-index: 40;
}
.grid-layout{
    display:grid ;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}
.grid-layout1{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.bordergore{
    border: solid lightblue 1px;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.centered {
  position: relative;
  top: -40%;
  left: 3%;
  /* transform: translate(-28%, -90%); */
  font-size: 50px;
  line-height: 30pt;
}
.below-centered {
    position: relative;
    top: 0%;
    left: 6%;
    /* transform: translate(-20%, 20%); */
    font-size: 25px;
    line-height: 25pt;
  }
  h1, h2, h3{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.1em;
    line-height: 25pt;
}
h1 {
    color: #FFFAF0;
    font-size:50px;
}

h2 {
    color: #FFFAF0;
    font-size: 40px;
}

h3 {
    color: #FFFAF0;
    font-size: 30px;
}
@media screen and (max-width:1200) {
    .below-centered, .centered{
        font-size:30;
    }
@media (min-width: 600px) {
    .grid-layout, .grid-layout1 {
          display: none;
        }
      }
    li{
        font-size: 20px;
    }
}

li{
    font-size: 40px;
}

body{
    margin:2%;
}
a{
    color: aqua;
}
li{
    color: white;
}
footer{
    background-color: #405353;
    margin: 0%;
}
.better_image{
    width:100%;
    height:auto;
}
#påskliljan{
    height:75%;
    width:100%;
}
.div-coloring{
    background-color:#2F4F4F;
    padding-left:1%;
    padding-right:1%;
    border: solid lightblue 1px;
}