.hamburge-menu {
    position: relative;
}

.hamburge-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #5F9EA0;
    border: solid lightblue 1px;
    position: absolute;
    top: 100%;
    z-index: 5000000;
}

.hamburge-menu:not(.open) ul {
    display: none;
}


/* ul {
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    background-color: rgb(72, 138, 161);
    font-size: 20px;
  } */


/* @media screen and (min-width: 624px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

@media screen and (max-width: 624px) {
    ul {
        width: 80%
    }
}

li {
    float: left;
} */


/* li a:hover,
.dropdown:hover,
.dropdown-content:hover {
    background-color: #ab9c85;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: #000000 1px;
}

.dropdown-content a:hover {
    background-color: #ab9c85;
} */

img {
    Width: 50%;
    height: 500px;
}

.butik-headline {
    Border: solid black 1px;
}

html {
    background-color: #2F4F4F;
    overflow-y: scroll;
    Height: 100%;
}

p {
    color: #FFFAF0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 25pt;
}

h1 {
    color: #FFFAF0;
    font-size: 50px;
}

h2 {
    color: #FFFAF0;
    font-size: 40px;
}

h3 {
    color: #FFFAF0;
    font-size: 30px;
}

.picture-size {
    width: 600px;
    height: 540px;
}

.dark_background {
    color: #2F4F4F;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.container :not(img) {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    max-width: 100%;
    height: auto;
    /* Height: 800px */
    z-index: 40;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.center {}